<div class="new-lists">
  <div class="new-list">
    <h1>Edit your <strong>list</strong> !</h1>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
