<div class="row d-flex justify-content-center mx-0">
  <div class="big-box-lists-movie col-8">
    <div class="container">
      <h1>Save any kind of <strong>movie</strong> !</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
    <div class="container-list">
      <div class="list-text">
        <h3>My Lists :</h3>
      </div>
      <div class="lists">
        <% @lists.each do |list| %>
          <%= render '/lists/list', list: list %>
        <% end %>
      </div>
    </div>
    <%= link_to 'Create a new list', new_list_path, class: "btn btn-success bnt-new-list" %>
  </div>
</div>
<div class="div-btn-home">
  <%= link_to "Home", movies_path, class: "btn btn-success btn-home" %>
</div>
