// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.poster-img {
  width: 45vh;
  height: 60vh;
}

.carousel {
  background-color: #ffffff0e;
  backdrop-filter: blur(5px);
}

body {
  background-image: url("Body-font2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list-group-item {
  text-align: center;
}

.carousel-indicators {
  background-color: #bbab8cc4;
  width: 150px;
  padding: 10px 20px;
  border-radius: 15px;
  position: absolute;
  bottom: -2px;
  left: 31.3%;
}

.carousel-indicators .active {
  color: white;
}

.movie-card-text {
  color: white;
  background-color: #84848431;
  backdrop-filter: blur(5px);
  padding: 20px;
  text-shadow: 0.3px 0.3px 0.3px black;
  padding-bottom: 30px;
}

.head-movies {
  color: white;
  background-color: #84848431;
  backdrop-filter: blur(5px);
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #8a7c5f;
  padding: 40px;
  border-radius: 50%;
}

.btn-add-movie,
.btn-my-list {
  height: 8vh;
  font-weight: 600;
  padding: 25px;
  border-radius: 15px;
  font-size: 16px;
  transition: 1s ease;
}

.div-btn-add {
  position: fixed;
  top: 10vh;
  right: 2vh;
  z-index: 999;
}

.div-btn-home {
  position: absolute;
  top: 10vh;
  right: 2vh;
  z-index: 999;
}

.btn-home, .btn-fa-list, .btn-show-carousel {
  height: 8vh;
  font-weight: 600;
  padding: 25px;
  border-radius: 15px;
  font-size: 16px;
  margin-left: 5px;
  transition: 1s ease;
}

.btn-fa-list {
  margin-left: 0;
}

.btn-fa-list:hover + i {
  color: white;
}

.btn-home:hover,
.btn-add-movie:hover,
.btn-my-list:hover,
.btn-edit-show:hover,
.btn-submit-new:hover,
.btn-see-more:hover,
.bnt-new-list:hover,
.btn-fa-list:hover {
  background-color: #8a7c5f;
  color: white;
  border-color: #8a7c5f;
  text-shadow:
    1px 1px 2px black,
    0 0 1em rgba(0, 0, 0, 0.306),
    0 0 0.2em rgba(0, 0, 0, 0.282);
}

.div-head-movies {
  height: 7.5vh;
}

.big-box-new-movie, .big-box-show-movie, .big-box-new-movie-reate, .big-box-edit-movie, .big-box-lists-movie {
  color: rgb(255, 255, 255);
  width: 550px;
  height: 835px;
  margin-top: 50px;
  background-color: #ffffff0e;
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
}

.big-box-list-movie {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #ffffff0e;
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
  height: 400px;
  width: 500px;
  margin-top: 175px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.big-box-new-movie-reate, .big-box-edit-movie, .big-box-lists-movie, .big-box-list-movie {
  height: 570px;
  margin-top: 175px;
}

.big-box-new-movie-reate h1,.big-box-edit-movie h1, .big-box-lists-movie {
  text-align: center;
  padding-bottom: 20px;
}

.big-box-show-movie h1 {
  text-align: center;
  text-shadow: 0.3px 0.3px 0.3px black;
  font-weight: 600;
}

.card-show-movie {
  padding-top: 10px;
  text-align: center;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.card-show-movie-text {
  padding-top: 10px;
}

.big-box-new-movie h1 {
  text-align: center;
  margin-bottom: 30px;
}

.btn-submit-new, .bnt-new-list {
  margin-left: 185px;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 15px;
  transition: 1s ease;
}

.bnt-new-list {
  position: absolute;
  margin-left: 0;
  bottom: 30px;
  right: 196px;
}

.delete {
  padding: 10px 25px;
  font-size: 18px;
}

.link-list {
  padding: 8px 150px;
  font-size: 20px;
}

.delete, .link-list {
  text-decoration: none;
  background-color: #bbab8cd9;
  color: white;
  font-weight: 500;
  transition: 1s ease;
  border-radius: 15px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em rgba(0, 0, 0, 0.306),
    0 0 0.2em rgba(0, 0, 0, 0.282);
}

.delete:hover, .link-list:hover {
  background-color: #8a7c5f;
}

.btn-see-more,
.btn-edit-show {
  padding: 10px 35px;
  margin-right: 10px;
  background-color: #1EDD88;
  color: black;
  font-size: 18px;
  transition: 1s ease;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 500;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.btn-see-more {
  padding: 10px 15px;
}

.fa-star {
  text-shadow: 1px 1px 20px rgb(255, 59, 59);
}

.text-list-new-movie,
.list-card {
  background-color: rgba(255, 255, 255, 0.264);
}

.text-list-new-movie:focus {
  background-color: rgba(255, 255, 255, 0.832);
}

.list-card {
  text-align: center;
  border-radius: 15px;
}

.list-card h2 {
  padding: 15px;
  padding-bottom: 22px;
}

.list-text {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.poster-img-grid {
  width: 230px;
  height: 300px;
}

.grid-item {
  background-color: grey;
  width: 250px;
}
