// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.poster-img {
  width: 40vh;
  height: 55vh;
}

.carousel {
  background-color: #ffffff0e;
  backdrop-filter: blur(5px);
}

body {
  background-image: url("Body-font2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list-group-item {
  text-align: center;
}

.carousel-indicators {
  background-color: #8484844c;
  backdrop-filter: blur(5px);
  width: 250px;
  padding: 10px 20px;
  border-radius: 15px;
  position: absolute;
  bottom: -2px;
  left: 28.6%;
}

.carousel-indicators .active {
  color: white;
}

.movie-card-text {
  color: white;
  background-color: #84848431;
  backdrop-filter: blur(5px);
  padding: 20px;
  text-shadow: 0.3px 0.3px 0.3px black;
  padding-bottom: 30px;
}

.head-movies, .head-bookmarks {
  color: white;
  background-color: #84848431;
  backdrop-filter: blur(5px);
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.head-bookmarks {
  background-color: #84848452;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #8a7c5f;
  padding: 40px;
  border-radius: 50%;
}

.btn-add-movie,
.btn-my-list {
  height: 8vh;
  font-weight: 600;
  padding: 25px;
  border-radius: 15px;
  font-size: 16px;
  transition: 1s ease;
}

.div-btn-add {
  position: fixed;
  top: 10vh;
  right: 2vh;
  z-index: 999;
}

.div-btn-home {
  position: absolute;
  top: 10vh;
  right: 2vh;
  z-index: 999;
}

.btn-home,
.btn-fa-list,
.btn-show-carousel {
  height: 8vh;
  font-weight: 600;
  padding: 25px;
  border-radius: 15px;
  font-size: 16px;
  transition: 1s ease;
}

.btn-fa-list {
  margin-left: 0;
}

.btn-fa-list:hover+i {
  color: white;
}

.btn-home:hover,
.btn-submit-new-list:hover,
.btn-add-movie:hover,
.btn-my-list:hover,
.btn-edit-show:hover,
.btn-submit-new:hover,
.btn-see-more:hover,
.bnt-new-list:hover,
.btn-fa-list:hover {
  background-color: #8a7c5f;
  color: white;
  border-color: #8a7c5f;
  text-shadow:
    1px 1px 2px black,
    0 0 1em rgba(0, 0, 0, 0.306),
    0 0 0.2em rgba(0, 0, 0, 0.282);
}

.div-head-movies {
  height: 7.5vh;
}

.big-box-new-movie,
.big-box-show-movie,
.big-box-new-movie-reate,
.big-box-new-movie-reate-list,
.big-box-edit-movie,
.big-box-lists-movie {
  color: rgb(255, 255, 255);
  width: 550px;
  height: auto;
  margin-top: 50px;
  background-color: #ffffff0e;
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
}

.big-box-new-movie-reate {
  margin-top: 175px;
}

.big-box-new-movie-reate-list {
  margin-top: 175px;
  height: 400px;
}

.big-box-list-movie {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #ffffff0e;
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
  width: 450px;
  margin-top: 175px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.big-box-list-movie h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.big-box-lists-movie,
.big-box-list-movie {
  height: 570px;
  margin-top: 175px;
}

.big-box-edit-movie {
  margin-top: 175px;
}

.big-box-new-movie-reate h1,
.big-box-edit-movie h1,
.big-box-lists-movie {
  text-align: center;
  padding-bottom: 20px;
}

.big-box-show-movie h1 {
  text-align: center;
  text-shadow: 0.3px 0.3px 0.3px black;
  font-weight: 600;
}

.card-show-movie {
  padding-top: 10px;
  text-align: center;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.card-show-movie-text {
  padding-top: 10px;
}

.big-box-new-movie h1 {
  text-align: center;
  margin-bottom: 30px;
}

.btn-submit-new,
.bnt-new-list,
.btn-submit-new-list {
  margin-left: 185px;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 15px;
  margin-top: 15px;
  transition: 1s ease;
}

.btn-submit-new-list {
  margin-top: 50px;
}

.bnt-new-list {
  position: absolute;
  margin-left: 0;
  bottom: 30px;
  right: 196px;
}

.delete {
  padding: 10px 25px;
  font-size: 18px;
  background-color: #bbab8cd9;
}

.link-list {
  border-radius: 15px;
  text-align: center;
  width: 150px;
  margin: 0;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.div-link-list {
  border-radius: 15px;
  transition: 1s ease;
  padding-bottom: 2px;
  padding-top: 2px;
  width: 500px;
}

.div-link-list p {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-left: 10px;
}

.list-card-my-lists {
  border-radius: 15px;
  margin-bottom: 10px;
}

.div-link-list:hover {
  background-color: #8a7c5f;
}

.delete,
.link-list {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 1s ease;
  border-radius: 15px;
  text-shadow:
    1px 1px 2px black,
    0 0 1em rgba(0, 0, 0, 0.306),
    0 0 0.2em rgba(0, 0, 0, 0.282);
}

.delete:hover {
  background-color: #FD1015;
  color: black;
}

.btn-see-more,
.btn-edit-show {
  padding: 10px 35px;
  margin-right: 10px;
  background-color: #1EDD88;
  color: black;
  font-size: 18px;
  transition: 1s ease;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 500;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.btn-new-bookmark {
  margin-left: 170px;
  margin-top: 20px;
}

.btn-see-more {
  padding: 10px 15px;
}

.fa-star {
  text-shadow: 1px 1px 20px rgb(255, 59, 59);
}

.text-list-new-movie,
.list-card,
.div-link-list {
  background-color: rgba(255, 255, 255, 0.264);
}

.text-list-new-movie:focus {
  background-color: rgba(255, 255, 255, 0.832);
}

.list-card {
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
}

.btn-trash-list {
  font-size: 20px;
  transition: 1s ease;
  color: #1EDD88;
  padding-right: 10px;
  padding-top: 8px;
}

.btn-trash-list:hover {
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.btn-trash-list:hover,
.btn-trash-list:hover+i {
  color: #FD1015;
}

.list-card h2 {
  margin: 0;
  padding: 15px;
  padding-bottom: 22px;
}

.list-text {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
  text-shadow: 0.3px 0.3px 0.3px black;
}

.poster-img-grid {
  width: 230px;
  height: 300px;
}

.grid-item {
  background-color: grey;
  width: 250px;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 0;
  --bs-gutter-x: 0;
}

.title-bookmarks {
  padding-bottom: 20px;
  font-weight: bold;
}

.overflow-ellipsis {
  padding-top: 10px;
  padding-bottom: 10px;
}

.show-delete {
  padding-top: 10px;
}

#overview-counter {
  color: white;
  position: absolute;
  bottom: 250px;
  right: 30px;
}
